@model IEnumerable<HelpDeskSystem.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<div class="content container-fluid">
    <div class="page-header">
        <h1>Ticket list</h1>
        <div class="row align-items-center">

            @if (TempData["Message"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="fas fa-check"></i>
                    @TempData["Message"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

            <div class="col-auto text-right float-right ml-auto">
                <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-center mb-0 datatable">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Title)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Priority)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SubCategory)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreatedBy)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreatedOn)
                                    </th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <a asp-action="Details" asp-route-id="@item.Id">
                                                @Html.DisplayFor(modelItem => item.Title)
                                            </a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Priority.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SubCategory.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreatedBy.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreatedOn)
                                        </td>
                                        <td class="text-right">
                                            <div class="actions">
                                                <a asp-controller="Comments" asp-action="TicketComments" asp-route-id="@item.Id" class="btn btn-sm btn-secondary mr-2">
                                                    <i class="fas fa-comment"></i>
                                                </a>
                                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm bg-success-light mr-2">
                                                    <i class="fas fa-pen"></i>
                                                </a>
                                                @* <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm bg-danger" onclick="return confirm('Are you sure you want to delete this ticket ?')">
                                                    <i class="fas fa-trash"></i>
                                                </a> *@
                                                <a href="#" class="btn btn-sm bg-danger" data-toggle="modal"
                                                   data-target="#deleteConfirmationModal"
                                                   data-id="@item.Id"
                                                   data-title="@item.Title"
                                                   data-description="@item.Description"
                                                   data-status="@item.Status.Description"
                                                   data-priority="@item.Priority.Description"
                                                   data-sub="@item.SubCategory.Name"
                                                   data-by="@item.CreatedBy.Name"
                                                   data-on="@item.CreatedOn">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="modal-title" id="deleteModalLabel">Are you sure you want to delete this ticket ?</h3>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="about-info">
                            <h4>Ticket information</h4>
                            <div class="media mt-3">
                                <div class="media-body">
                                    <ul>
                                        <li>
                                            <span class="title-span">@Html.DisplayNameFor(model => model.Title):</span>
                                            <span class="info-span" id="itemTitle"></span>
                                        </li>
                                        <li>
                                            <span class="title-span">@Html.DisplayNameFor(model => model.Description):</span>
                                            <span class="info-span" id="itemDesc"></span>
                                        </li>
                                        <li>
                                            <span class="title-span">@Html.DisplayNameFor(model => model.Status):</span>
                                            <span class="info-span" id="itemStatus"></span>
                                        </li>
                                        <li>
                                            <span class="title-span">@Html.DisplayNameFor(model => model.Priority):</span>
                                            <span class="info-span" id="itemPriority"></span>
                                        </li>
                                        <li>
                                            <span class="title-span">@Html.DisplayNameFor(model => model.SubCategory):</span>
                                            <span class="info-span" id="itemSub"></span>
                                        </li>
                                        <li>
                                            <span class="title-span">@Html.DisplayNameFor(model => model.CreatedBy):</span>
                                            <span class="info-span" id="itemBy"></span>
                                        </li>
                                        <li>
                                            <span class="title-span">@Html.DisplayNameFor(model => model.CreatedOn):</span>
                                            <span class="info-span" id="itemOn"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form id="deleteForm" method="post" action="">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 2000);
        });

        $('#deleteConfirmationModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); 
            var id = button.data('id'); 
            var title = button.data('title'); 
            var description = button.data('description');
            var status = button.data('status');
            var priority = button.data('priority');
            var sub = button.data('sub');
            var by = button.data('by');
            var on = button.data('on');
            var action = '/Tickets/Delete/' + id;

            var modal = $(this);
            modal.find('#deleteForm').attr('action', action);
            modal.find('#itemTitle').text(title); 
            modal.find('#itemDesc').text(description);
            modal.find('#itemStatus').text(status);
            modal.find('#itemPriority').text(priority);
            modal.find('#itemSub').text(sub);
            modal.find('#itemBy').text(by);
            modal.find('#itemOn').text(on);
        });
    </script>
}
