@model IEnumerable<HelpDeskSystem.Models.Comment>

@{
    ViewData["Title"] = "Recent Comments";

    int ticketid = ViewBag.TicketId;

    var user = User.FindFirst("UserId")?.Value ?? "";

    var allUserPermissions = User.FindFirst("UserPermission")?.Value ?? "";

    var admin = allUserPermissions.Contains(":SYSTEM");
}

<div class="content container-fluid">
    <div class="page-header">
        <h1>Recent Comments</h1>
        <div class="row align-items-center">

            @if (TempData["Message"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="fas fa-check"></i>
                    @TempData["Message"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="fas fa-close"></i>
                    @TempData["Error"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

            <div class="col-md-12">
                <form asp-action="TicketComments" method="post">
                    <div class="row">
                        <div class="col-md-2 top-nav-search">
                            <input name="Desc" class="form-control" placeholder="Search Comment" />
                        </div>
                        <div class="col-md-2 top-nav-search">
                            <select name="CreatedById" class="form-control" asp-items="ViewBag.UsersId">
                                <option value="">Created By</option>
                            </select>
                        </div>
                        <div class="col-md-1 text-right float-right ml-auto top-nav-search">
                            <button class="btn"><i class="fas fa-search"> Search</i></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-auto text-right float-right ml-auto p-2">
                <a asp-action="Create" class="btn btn-primary" title="Create"><i class="fas fa-plus"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-center mb-0 datatable">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreatedBy)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreatedOn)
                                    </th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreatedBy.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreatedOn)
                                        </td>
                                        <td class="text-right">
                                            <div class="actions">
                                                @if (item.CreatedById.Equals(user) || admin)
                                                {
                                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm bg-success-light mr-2" title="Edit">
                                                        <i class="fas fa-pen"></i>
                                                    </a>
                                                    <a href="#" class="btn btn-sm bg-danger" data-toggle="modal" title="Delete"
                                                       data-target="#deleteConfirmationModal"
                                                       data-id="@item.Id"
                                                       data-desc="@item.Description"
                                                       data-by="@item.CreatedBy.Name"
                                                       data-on="@item.CreatedOn">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="modal-title" id="deleteModalLabel">Are you sure you want to delete this comment ?</h3>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="about-info">
                            <h4>Comment information</h4>
                            <div class="media mt-3">
                                <div class="media-body">
                                    <ul>
                                        <li>
                                            <span class="title-span">@Html.DisplayNameFor(model => model.Description):</span>
                                            <span class="info-span" id="itemDesc"></span>
                                        </li>
                                        <li>
                                            <span class="title-span">@Html.DisplayNameFor(model => model.CreatedBy):</span>
                                            <span class="info-span" id="itemBy"></span>
                                        </li>
                                        <li>
                                            <span class="title-span">@Html.DisplayNameFor(model => model.CreatedOn):</span>
                                            <span class="info-span" id="itemOn"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form id="deleteForm" method="post" action="">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 2000);
        });

        $('#deleteConfirmationModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var desc = button.data('desc');
            var by = button.data('by');
            var on = button.data('on');
            var action = '/Comments/Delete/' + id;

            var modal = $(this);
            modal.find('#deleteForm').attr('action', action);
            modal.find('#itemDesc').text(desc);
            modal.find('#itemBy').text(by);
            modal.find('#itemOn').text(on);
        });
    </script>
}
