@model IEnumerable<HelpDeskSystem.Models.Comment>

@{
    ViewData["Title"] = "Recent Comments";

    int ticketid = ViewBag.TicketId;
}

<div class="col-md-12">
    <form asp-action="TicketComments" method="post">
        <div class="row">
            <div class="col-md-2 top-nav-search">
                <input name="Desc" class="form-control" placeholder="Search Comment" />
            </div>
            <div class="col-md-2 top-nav-search">
                <select name="CreatedById" class="form-control" asp-items="ViewBag.UsersId">
                    <option value="">Created By</option>
                </select>
            </div>
            <div class="col-md-1 text-right float-right ml-auto top-nav-search">
                <button class="btn"><i class="fas fa-search"> Search</i></button>
            </div>
        </div>
    </form>
</div>

<h1>Recent Comments</h1>

<p>
    <a asp-action="Create" asp-route-id="@ticketid">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
