@model HelpDeskSystem.Models.TicketSubCategory

@{
    ViewData["Title"] = "Details";
}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Sub-category details</h3>
            </div>
            @if (TempData["Message"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="fas fa-check"></i>
                    @TempData["Message"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="fas fa-close"></i>
                    @TempData["Error"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="about-info">
                        <h4>Sub-category information</h4>
                        <div class="media mt-3">
                            <div class="media-body">
                                <ul>
                                    <li>
                                        <span class="title-span">@Html.DisplayNameFor(model => model.Code):</span>
                                        <span class="info-span">@Html.DisplayFor(model => model.Code)</span>
                                    </li>
                                    <li>
                                        <span class="title-span">@Html.DisplayNameFor(model => model.Name):</span>
                                        <span class="info-span">@Html.DisplayFor(model => model.Name)</span>
                                    </li>
                                    <li>
                                        <span class="title-span">@Html.DisplayNameFor(model => model.CreatedBy):</span>
                                        <span class="info-span">
                                            <a asp-controller="Users" asp-action="Details" asp-route-id="@Model.CreatedById">
                                                @Html.DisplayFor(model => model.CreatedBy.Name)
                                            </a>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="title-span">@Html.DisplayNameFor(model => model.CreatedOn):</span>
                                        <span class="info-span">@Html.DisplayFor(model => model.CreatedOn)</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <a asp-action="SubCategories" asp-route-id="@Model?.CategoryId" class="btn btn-primary float-start"><i class="fas fa-arrow-left"></i> Back to List</a>
                            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary float-end">Edit</a>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 2000);
        });
    </script>
}