@model IEnumerable<HelpDeskSystem.Models.AuditTrail>

@{
    ViewData["Title"] = "Index";
}

<div class="content container-fluid">
    <div class="page-header">
        <h1>Audit Trails</h1>
        <div class="row align-items-center margin-top">

            @if (TempData["Message"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="fas fa-check"></i>
                    @TempData["Message"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="fas fa-close"></i>
                    @TempData["Error"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

            <div class="col-md-12">
                <a asp-action="Clear" class="btn btn-primary float-end" onclick="return confirm('Are you sure you want to clear all the audit trails ?')"><i class="fas fa-trash"></i> Clear History</a>

                <form asp-action="Index" method="post">
                    <div class="row row-ticket-modif">
                        <div class="col-md-2 top-nav-search top-nav-search-modif">
                            <select name="ActionCode" class="form-control form-control-modif" asp-items="ViewBag.ActionCode">
                                <option value="">Action</option>
                            </select>
                        </div>
                        <div class="col-md-2 top-nav-search top-nav-search-modif">
                            <input name="Module" class="form-control form-control-modif" placeholder="Module" />
                        </div>
                        <div class="col-md-2 top-nav-search top-nav-search-modif">
                            <input name="AffectedTable" class="form-control form-control-modif" placeholder="Affected Table" />
                        </div>
                        <div class="col-md-2 top-nav-search top-nav-search-modif">
                            <select name="ByUserId" class="form-control form-control-modif" asp-items="ViewBag.UsersId">
                                <option value="">By User</option>
                            </select>
                        </div>
                        <div class="col-md-1 text-right float-right ml-auto top-nav-search search-margin-left">
                            <button class="btn"><i class="fas fa-search"> Search</i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-center mb-0 datatable">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Action)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Module)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AffectedTable)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TimeStamp)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.User)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OldValues)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NewValues)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AffectedColumns)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Action)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Module)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AffectedTable)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TimeStamp)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.User.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OldValues)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NewValues)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AffectedColumns)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 2000);
        });
    </script>
}
