@model IEnumerable<HelpDeskSystem.Models.TicketCategory>

@{
    ViewData["Title"] = "Index";
}

<div class="col-md-12">
    <form asp-action="Index" method="post">
        <div class="row">
            <div class="col-md-2 top-nav-search">
                <input name="Name" class="form-control" placeholder="Search Category" />
            </div>
            <div class="col-md-2 top-nav-search">
                <select name="CreatedById" class="form-control" asp-items="ViewBag.UsersId">
                    <option value="">Created By</option>
                </select>
            </div>
            <div class="col-md-1 text-right float-right ml-auto top-nav-search">
                <button class="btn"><i class="fas fa-search"> Search</i></button>
            </div>
        </div>
    </form>
</div>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                <a asp-action="Index" asp-controller="TicketSubCategories" asp-route-id="@item.Id">TicketSubCategory</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
