@model IEnumerable<HelpDeskSystem.Models.AppUser>

@{
    ViewData["Title"] = "Index";
}

<div class="content container-fluid">
    <div class="page-header">
        <h1>User list</h1>
        <div class="row align-items-center">

            @if (TempData["Message"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="fas fa-check"></i>
                    @TempData["Message"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="fas fa-close"></i>
                    @TempData["Error"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

            <div class="col-md-12">
                <form asp-action="Index" method="post">
                    <div class="row">
                        <div class="col-md-2 top-nav-search">
                            <input name="Name" class="form-control" placeholder="Name" />
                        </div>
                        <div class="col-md-2 top-nav-search">
                            <input name="Email" class="form-control" placeholder="Email" />
                        </div>
                        <div class="col-md-2 top-nav-search">
                            <input name="Phone" class="form-control" placeholder="Phone number" />
                        </div>
                        <div class="col-md-2 top-nav-search">
                            <select name="RoleId" class="form-control" asp-items="ViewBag.RoleId">
                                <option value="">Role</option>
                            </select>
                        </div>
                        <div class="col-md-1 text-right float-right ml-auto top-nav-search">
                            <button class="btn"><i class="fas fa-search"> Search</i></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-auto text-right float-right ml-auto">
                <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-center mb-0 datatable">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DOB)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Gender)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Role)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PhoneNumber)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IsLocked)
                                    </th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <a asp-action="Details" asp-route-id="@item.Id">
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DOB)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Gender.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Role.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsLocked)
                                        </td>
                                        <td class="text-right">
                                            <div class="actions">
                                                <a asp-action="Activate" asp-route-id="@item.Id" class="btn btn-sm bg-success-light mr-2">
                                                    <i class="fas fa-pen"></i>
                                                </a>
                                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm bg-success-light mr-2">
                                                    <i class="fas fa-pen"></i>
                                                </a>
                                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm bg-danger" onclick="return confirm('Are you sure you want to delete this user ?')">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 2000);
        });

        $('#deleteConfirmationModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var title = button.data('title');
            var description = button.data('description');
            var status = button.data('status');
            var priority = button.data('priority');
            var sub = button.data('sub');
            var by = button.data('by');
            var on = button.data('on');
            var action = '/Tickets/Delete/' + id;

            var modal = $(this);
            modal.find('#deleteForm').attr('action', action);
            modal.find('#itemTitle').text(title);
            modal.find('#itemDesc').text(description);
            modal.find('#itemStatus').text(status);
            modal.find('#itemPriority').text(priority);
            modal.find('#itemSub').text(sub);
            modal.find('#itemBy').text(by);
            modal.find('#itemOn').text(on);
        });
    </script>
}
